:root {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: hidden;

	--championIconWidth: 80px;
}

:root[data-theme="dark"] {
	--scrollbarColor: white;
	--selectionBoxShadow: 0px 0px 2px 2px #0b2ee5;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

#app {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	background-color: #0d1117;
}

* {
	color: #cccccc;
	box-sizing: border-box;
	scrollbar-color: var(--scrollbarColor);
}

img {
	max-width: 100%;
}

.selected {
	box-shadow: var(--selectionBoxShadow);
}

.hidden {
	display: none !important;
}
