:root {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: hidden;

	--championIconWidth: 80px;
	--previewChampionIconWidth: 40px;
	--snapshotContainerHeight: 360px;
	--generalBorderRadius: 6px;
}

:root[data-theme="legacy-dark"] {
	--scrollbarColor: white;
	--selectionBoxShadow: 0px 0px 2px 2px #0b2ee5;
	--buttonBackgroundColor: #06145e;
	--generalBorderColor: #707070;
	--bodyBackgroundColor: #0d1117;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

#app {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	background-color: var(--bodyBackgroundColor);
}

* {
	color: #cccccc;
	box-sizing: border-box;
	scrollbar-color: var(--scrollbarColor);
}

img {
	max-width: 100%;
}

.selected {
	box-shadow: var(--selectionBoxShadow);
}

.hidden {
	display: none !important;
}

button,
input[type="button"] {
	cursor: pointer;
}

input[type="text"] {
	height: 2em;

	border-radius: 8px;
	border: 1px solid #707070;
	padding: 0.2em 0.4em;

	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	text-align: center;

	background-color: #06145e;

	cursor: text;
}

.image-button {
	height: 40px;
	max-width: 40px;

	cursor: pointer;
	background: none;
	border: none;
}

.text-button {
	height: 40px;

	border-radius: 8px;
	border: 1px solid #707070;
	padding: 0.3em 0.7em;

	font-size: 1em;
	font-weight: 500;
	font-family: inherit;

	background-color: #06145e;

	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.text-input {
	height: 2em;

	border-radius: 8px;
	border: 1px solid #707070;
	padding: 0.2em 0.4em;

	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	text-align: center;

	background-color: #06145e;

	cursor: text;
}

.panel {
	padding: 20px;
	border-radius: 20px;
	opacity: 0.9;
	background: var(--bodyBackgroundColor);
}

.success {
	background: darkgreen !important;
}

.error {
	background: darkred !important;
}

.on {
	background: darkgreen;
}

.off {
	background: darkred;
}

select {
	background-color: var(--buttonBackgroundColor);
	border-radius: var(--generalBorderRadius);
	border: 1px solid var(--generalBorderColor);
	height: 1.5rem;
	font-size: 1rem;
	text-align: center;
}
